body {
  background-color: rgb(0, 0, 255);
  background: linear-gradient(
    315deg,
    rgba(0, 0, 255, 1) 0%,
    rgba(48, 213, 200, 1) 50%,
    rgba(135, 206, 250, 1) 100%
  );
  background-attachment: fixed;
}

.card {
  background-color: rgb(0, 0, 255);
  background: linear-gradient(
    315deg,
    rgba(0, 0, 255, 1) 0%,
    rgba(48, 213, 200, 1) 50%,
    rgba(135, 206, 250, 1) 100%
  );
  background-attachment: fixed;
}

#aboutMeCard {
  padding-top: 5%;
}

#codingLanguage {
  padding-top: 3%;
}

#projectHeader {
  padding-top: 2%;
}
